/*----------------------- Font Styles----------------------- */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&family=Poppins:wght@500&family=Racing+Sans+One&family=Work+Sans:wght@400;700&display=swap');


/*-------------------- Common Styles-------------------- */
body {
    font-family: 'Work Sans', sans-serif;
    
    margin: 0;

}

.header {
    padding: 30px 150px;
    background: rgba(255, 144, 14, 0.1);
    
}

/*--------------------------Nav style----------------------  */
nav {
    display: flex;
    justify-content: space-between;

}

.nav-title {
    font-weight: 700;
    font-size: 30px;
    color: #131313;
    /* margin-top: 50px; */
}

nav li {
    list-style: none;
    margin-left: 50px;
    font-size: 18px;
    color: #424242;
   

}

nav ul {
    display: flex;
    align-items: center;
}

/*------------------ Banner Styles------------------- */
.banner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;

}

.banner-title {
    color: #131313;
    font-weight: 600;
    font-size: 64px;
    margin-top: 80px;
    margin-bottom: 30px;
    width: 75%;
}

.banner-text {
    color: #727272;
    font-size: 16px;
    margin-bottom: 30px;

}

/* Common Button for explore & quicklists  */
.btn-explore,
.btn-quicklist {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 25px;
    height: 64px;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    margin-bottom: 50px;
    width: 180px;


}

.banner-title-to-btn {
    display: grid;
    text-align: center;
    justify-items: center;
    width: 80%;
    /* padding-left: 180px;
    padding-right: 180px; */
}

.img-banner {
    width: 100%
}

/*------------------------ quicklists Styles------------------------- */

.quicklist-detail {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    padding-left: 150px;
    padding-right: 130px;
    margin-bottom: 100px;

}

/* Image part  */
.quicklist-item-img {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    grid-column-gap: 15px;
    /* grid-row-gap: 20px; */

}

/* .quicklists {} */

.quicklists,
.quicklist-img img {
    margin-top: 15px;
    width: 250px;
    height: 250px;
    /* width: 100%; */
    border-radius: 8px;
}

/* Information Part  */
/* .quicklist-info {} */

.quicklist-title {

    font-size: 45px;
}

.title-grey {
    color: #727272;
    font-weight: 500;
}

.title-bold {
    color: #131313;
    
    font-weight: 700;
}

.title-orange {
    color: #FF900E;
    
    font-weight: 700;
}

.quicklist-text {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
}


/* --------------------Features style ----------------------- */
.features-main{
    margin-left: 150px;
    display: flex;
    
    height: 1059px;
    
    gap: 20px;
    
    
    }
    hr{
        position: absolute;
       width: 5px;
       height: 100px;
       margin-left: 0;
       margin-top: 40px;
       background: #FF900E;
       
       border-radius: 5px;
       }
    .features{
        display: grid;
        grid-template-columns: 586px 850px;
    width: 586px;
    }
    
    .feature-title{
        color: #131313;
        font-weight: 700;
        font-size: 45px;
        margin-left: 20px;
    
    }
    .feature-description{
        color: #727272;
        font-weight: 400;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 30px;
    }
    .features-sub-part{
        width: 500px;
        height: 150px;
        background: #FFFFFF;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
        border-radius: 8px;
        
        
    }
    .features-sub-title{
        color: #131313;
        font-weight: 600;
    font-size: 20px;
    margin-left: 15px;
    margin-bottom: 10px;
    }
    .features-sub-title-description{
        color: #727272;
        font-weight: 400;
    font-size: 16px;
    margin-left: 15px;
    margin-bottom: 10px;
    }
    .feature-img img{
    margin-right: 50px;
    margin-top: 50px;
    position: absolute;
    width: 500px;
    border-radius: 8px;
    /* border: 1px solid red; */
    /* margin: 0; */
    
    }
    .feature-img{
      position: relative;
      height: 1059px;
    }
    .btn-features{
        width: 240px;
        height: 150px;
        font-weight: 600;
        font-size: 20px;
        color: #FFFFFF;
        position: absolute;
        bottom: 250px;
        left: -50px;
        /* margin-top: -550px; */
        border: 0;
        /* margin-top: -120px; */
        /* padding: 15px 20px; */
        background: #FF900E;
        border-radius: 5px;
        /* margin: 0; */
        justify-content: flex-start;
    }
    .btn-ten{
        color: #FFFFFF;
        font-weight: 700;
        font-size: 45px;
    }
    .btn-exp{
        font-weight: 500;
    font-size: 20px;
    }
    

/* -----------------------Some Facts style ------------------------- */
.facts-main {
    /* justify-content: center;
    justify-items: center; */
    align-items: center;
    text-align: center;
    /* width: 100%; */
    margin: 0;
    padding-left: 150px;
    /* padding-right: 130px; */

}

.fact-section-title {
    color: #151414;
    /* font-weight: 179px; */
    font-size: 45px;
    text-align: left;
    font-weight: 700;
    margin-bottom: 24px;

}

.facts-title-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    width: 50%;
}

.facts-container {
    display: flex;
    justify-content: flex-end;
    justify-items: flex-end;
    gap: 100px;
    margin-bottom: 150px;
    margin-top: 100px;
    margin-right: 75px;


}


.facts {
    /* display: flex; */
    align-items: center;
    /* padding-right: 100px;
    padding-left: 100px; */
    padding: 25px 25px;

    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 240px;
    transition: width 2s, transform 2s;
    

}
.facts:hover{
    width: 300px;
    background-color: lightblue;
    transform: rotate(70deg);
}


.facts-title {
    color: #424242;
    font-weight: 600;
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: 15px;

    /* width: 218px; */
}

.facts-description {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
}

/*---------------- Sponsor styles ---------------*/
.sponsor-main {
    align-items: center;
    text-align: center;
    margin-bottom: 120px;
    padding-left: 120px;
    margin-right: 50px;

}

.sponsor-section-title {
    /* margin-top: ; */
    margin-bottom: 20px;
    color: #131313;
    font-weight: 700;
    font-size: 45px;

}

.sponsor-title-description {
    text-align: center;
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 50px;

}

.sponsors,
.sponsor-img img {
    display: flex;
    justify-content: space-around;
}

/*--------------------- Contact Us----------------------------  */
.contact {
    margin-top: 100px;

    display: flex;
    justify-content: space-evenly;
    /* width: 1600px;
    height: 577px; */
    height: 100vh;
    text-decoration: none;
    /* background: rgba(255, 144, 14, 0.1); */
    background-color: darkgray;
    margin-bottom: 30px;
    transition: width 2s;
}
.contact:hover{
    width: 100%;
    background-color: rgb(185, 220, 232);
    transform: rotate(0deg);
}


.contact-sub-box {
    width: 485px;
}

.contact .section-title {
    font-size: 25px;
    text-align: left;
    color: #F8F8F8;
    margin-top: 130px;
    padding-left: 100px;
    margin-bottom: 16px;


}


input {
    height: 64px;
}


.para-1 {
    color: #FFFFFF;
    padding-left: 100px;
    margin-bottom: 24px;
}

.para-2 {
    color: #FFFFFF;
    padding-left: 100px;
    margin-bottom: 16px;
}

.para-3 {
    color: #FFFFFF;
    padding-left: 100px;
    margin-bottom: 16px;
}

.icons {
    padding-left: 100px;
    margin-right: 18px;
}

.sub-box {
    width: 400px;
}

.subscribe-title {
    font-weight: 600;
    font-size: 25px;
    width: 100%;
    text-align: left;
    color: #F8F8F8;
    margin-top: 130px;
    margin-right: 400px;

    margin-bottom: 16px;

}

.input-box {
    width: 325px;
    color: #F8F8F8;
    background-color: whitesmoke;
    border-radius: #F8F8F8;

}

.btn-sub {
    color: #F15B22;
    background: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    border-radius: 8px;
    margin-top: 20px;
    border: 0;
    width: 130px;
}

/* ------------------Footer section ------------------ */

.copyright-section {
    background: #FFF4E7;
    border-radius: 8px;

    align-items: center;

    border: 0.2px solid #FFF4E7;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 100px;

}

.copyright-text {
    color: #424242;
    font-weight: 400;
    font-size: 20px;
    text-align: center;

}